<html lang="en">
<title>Login Flask</title>
<style type="text/css">
.blue{
   color: blue;
}
</style>
<body>
    <center>
        <h1>Enter Response</h1>
        <form action="login" method="POST">
            <p class="blue"> Full Name:</p>
            <input type="text" name="fullname"><br>
            <p class="blue"> Age:</p>
            <input type="text" name="age"><br>
            <p class="blue"> Favorite Ninja:</p>
            <input type="text" name="ninja"><br>
            <input type="submit" name="my-form" value="Send">
        </form>
    </center>
</body>
</html>
